<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:localeConfig="@xml/locales_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DrivestNavigation">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <meta-data
            android:name="com.mapbox.token"
            android:value="@string/mapbox_access_token" />

        <service
            android:name=".NavigationForegroundService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="location"
            android:stopWithTask="true" />

        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.DrivestSplash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeActivity"
            android:exported="false"
            android:theme="@style/Theme.DrivestNavigation" />
        <activity
            android:name=".OnboardingConsentActivity"
            android:exported="false"
            android:theme="@style/Theme.DrivestNavigation" />
        <activity
            android:name=".AgeRequirementActivity"
            android:exported="false"
            android:theme="@style/Theme.DrivestNavigation" />
        <activity
            android:name=".AnalyticsConsentActivity"
            android:exported="false"
            android:theme="@style/Theme.DrivestNavigation" />
        <activity
            android:name=".NotificationsConsentActivity"
            android:exported="false"
            android:theme="@style/Theme.DrivestNavigation" />
        <activity
            android:name=".PracticeEntryActivity"
            android:exported="false"
            android:theme="@style/Theme.DrivestNavigation" />
        <activity
            android:name=".NavigationEntryActivity"
            android:exported="false"
            android:theme="@style/Theme.DrivestNavigation" />
        <activity
            android:name=".TrafficSignsActivity"
            android:exported="false"
            android:theme="@style/Theme.DrivestNavigation" />
        <activity
            android:name=".AnalyticsDashboardActivity"
            android:exported="false"
            android:theme="@style/Theme.DrivestNavigation" />
        <activity
            android:name=".AnalyticsDetailActivity"
            android:exported="false"
            android:theme="@style/Theme.DrivestNavigation" />
        <activity
            android:name=".highwaycode.HighwayCodeActivity"
            android:exported="false"
            android:theme="@style/Theme.DrivestNavigation" />
        <activity
            android:name=".DestinationSearchActivity"
            android:exported="false"
            android:theme="@style/Theme.DrivestNavigation" />
        <activity
            android:name=".SettingsActivity"
            android:exported="false"
            android:theme="@style/Theme.DrivestNavigation" />
        <activity
            android:name=".PaymentsSubscriptionsActivity"
            android:exported="false"
            android:theme="@style/Theme.DrivestNavigation" />
        <activity
            android:name=".ContentAccuracyActivity"
            android:exported="false"
            android:theme="@style/Theme.DrivestNavigation" />
        <activity
            android:name=".ServiceAvailabilityActivity"
            android:exported="false"
            android:theme="@style/Theme.DrivestNavigation" />
        <activity
            android:name=".SafetyNoticeActivity"
            android:exported="false"
            android:theme="@style/Theme.DrivestNavigation" />
        <activity
            android:name=".ContactSupportActivity"
            android:exported="false"
            android:theme="@style/Theme.DrivestNavigation" />
        <activity
            android:name=".AboutDrivestActivity"
            android:exported="false"
            android:theme="@style/Theme.DrivestNavigation" />
        <activity
            android:name=".DataRightsActivity"
            android:exported="false"
            android:theme="@style/Theme.DrivestNavigation" />
        <activity
            android:name=".CentrePickerActivity"
            android:exported="false"
            android:theme="@style/Theme.DrivestNavigation" />
        <activity
            android:name=".PracticeRoutesActivity"
            android:exported="false"
            android:theme="@style/Theme.DrivestNavigation" />
        <activity
            android:name=".DebugSessionActivity"
            android:exported="false"
            android:theme="@style/Theme.DrivestNavigation" />
        <activity
            android:name=".SessionReportActivity"
            android:exported="false"
            android:theme="@style/Theme.DrivestNavigation" />
        <activity
            android:name=".PaywallActivity"
            android:exported="false"
            android:theme="@style/Theme.DrivestNavigation" />
        <activity
            android:name=".theory.screens.TheoryHomeActivity"
            android:exported="false"
            android:theme="@style/Theme.DrivestNavigation" />
        <activity
            android:name=".theory.screens.TheoryTopicListActivity"
            android:exported="false"
            android:theme="@style/Theme.DrivestNavigation" />
        <activity
            android:name=".theory.screens.TheoryTopicDetailActivity"
            android:exported="false"
            android:theme="@style/Theme.DrivestNavigation" />
        <activity
            android:name=".theory.screens.TheoryLessonActivity"
            android:exported="false"
            android:theme="@style/Theme.DrivestNavigation" />
        <activity
            android:name=".theory.screens.TheoryQuizActivity"
            android:exported="false"
            android:theme="@style/Theme.DrivestNavigation" />
        <activity
            android:name=".theory.screens.TheoryMockTestActivity"
            android:exported="false"
            android:theme="@style/Theme.DrivestNavigation" />
        <activity
            android:name=".theory.screens.TheoryMockResultsActivity"
            android:exported="false"
            android:theme="@style/Theme.DrivestNavigation" />
        <activity
            android:name=".theory.screens.TheoryBookmarksActivity"
            android:exported="false"
            android:theme="@style/Theme.DrivestNavigation" />
        <activity
            android:name=".theory.screens.TheoryWrongAnswersActivity"
            android:exported="false"
            android:theme="@style/Theme.DrivestNavigation" />
        <activity
            android:name=".theory.screens.TheorySettingsActivity"
            android:exported="false"
            android:theme="@style/Theme.DrivestNavigation" />
        <activity
            android:name=".quiz.ui.QuizHubActivity"
            android:exported="false"
            android:theme="@style/Theme.DrivestNavigation" />
        <activity
            android:name=".quiz.ui.QuizPlayActivity"
            android:exported="false"
            android:theme="@style/Theme.DrivestNavigation" />
        <activity
            android:name=".quiz.ui.QuizScoreboardActivity"
            android:exported="false"
            android:theme="@style/Theme.DrivestNavigation" />
        <activity
            android:name=".quiz.ui.QuizErrorActivity"
            android:exported="false"
            android:theme="@style/Theme.DrivestNavigation" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:theme="@style/Theme.DrivestNavigation" />
    </application>

</manifest>
